<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57714198890-rag8bedackdrp0p83rqu33dm89seddn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57714198890-rag8bedackdrp0p83rqu33dm89seddn3</string>
	<key>API_KEY</key>
	<string>AIzaSyDp4mHPlWygLDGUiothS1OKAD4dr7Cz-rY</string>
	<key>GCM_SENDER_ID</key>
	<string>57714198890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kukkapalli.Hack2019</string>
	<key>PROJECT_ID</key>
	<string>ligma2</string>
	<key>STORAGE_BUCKET</key>
	<string>ligma2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57714198890:ios:a8497f297ab98f7c0cbd13</string>
	<key>DATABASE_URL</key>
	<string>https://ligma2.firebaseio.com</string>
</dict>
</plist>